{{ block "contact-index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <title>Hello World</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    {{ template "form" . }}
    <hr />
    {{ template "contacts" . }}
  </body>
</html>
{{ end }} {{ block "form" . }}
<form
  class="flex gap-5 mt-10 ml-5"
  hx-post="/api/contacts"
  hx-target="#contacts"
  hx-swap="outerHTML"
>
  >
  <input class="border gap-2 text-xl" placeholder="name" name="Name" />
  <input class="border gap-2 text-xl" placeholder="email" name="Email" />
  <button class="border gap-2 text-xl text-red-500 p-2" type="submit">
    Add Contact
  </button>
</form>
{{ end }} {{ block "contacts" . }}
<div id="contacts" class="flex flex-col gap-3">
  {{ range .Contacts }}
  <form
    class="flex gap-5 mt-2"
    hx-delete="/api/contacts/{{ .Id }}"
    hx-target="#contacts"
    hx-swap="outerHTML"
  >
    Id: {{ .Id }} Name: {{ .Name }} Email: {{ .Email }}

    <button class="border 3px" type="submit">Delete This Contact</button>
  </form>

  {{ end }}
</div>
{{ end }}
